<h2><%= feed.get("title") %></h2>

<button class='refresh'>Refresh</button>

<% feed.entries().each( function(entry){ %>
    <ul>
      <li><a href="#/feeds/<%=feed.id%>/entries/<%=entry.id%>" id="entry-title"><%= entry.get("title") %></a></li>
    </ul>
<% }); %>

