body {
/*  background: url(http://img683.imageshack.us/img683/7207/la0812postedbybodiebail.jpg);*/
  background: #053F05;
  background-size: cover;
}

h1 {
/*  background-color: darkslateblue;*/
  font-family: trebuchet ms;
  color: white;
  padding: 10px 0% 10px 20px;
/*  border: 4px solid navy;*/
/*  border-radius: 25px;*/
}

h1 a {
  color: gold;
  font-size: .6em;
}

#sidebar{
  float:left;
  width: 40%;
  min-height: 300px;
  height: 100%;
  background: #FFEE79;
  color: black;
/*  font-family: lucida;*/
  padding: 20px;
  border-radius: 20px;
}

#sidebar a {
  color: navy;
  font-family: sans-serif;
}

#content{
  background: #96DEFF;
  float:left;
  width: 50%;
  min-height: 300px;
  height: 100%;
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;
}

#content a {
  color: black;
}